70-487/Versioning/WCFTestClient/Service References/AuditedContentManagerService/AuditedContentManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alexeypr.com/Versioning/2015/10" elementFormDefault="qualified" targetNamespace="http://alexeypr.com/Versioning/2015/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2547/AuditedContentManagerService.svc?xsd=xsd2" namespace="http://alexeypr.com/Versioning/2015/12" />
  <xs:element name="Id" type="xs:int" />
  <xs:element xmlns:q1="http://alexeypr.com/Versioning/2015/12" name="LinkItem" nillable="true" type="q1:LinkItem" />
  <xs:element name="LastModifiedBy" nillable="true" type="xs:string" />
</xs:schema>