70-487/HelloWcf/HelloClient/Service References/SelfHostedService/HelloWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelloWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelloWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:float" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
</xs:schema>