70-487/Versioning/WCFTestClient/Service References/ContentManagerServiceV1/ContentManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alexeypr.com/Versioning/2015/10" elementFormDefault="qualified" targetNamespace="http://alexeypr.com/Versioning/2015/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2547/ContentManagerService.svc?xsd=xsd2" namespace="http://alexeypr.com/Versioning/2015/10/" />
  <xs:element name="GetLinkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://alexeypr.com/Versioning/2015/10/" minOccurs="0" name="GetLinkItemResult" nillable="true" type="q1:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLinkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://alexeypr.com/Versioning/2015/10/" minOccurs="0" name="item" nillable="true" type="q2:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLinkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://alexeypr.com/Versioning/2015/10/" minOccurs="0" name="UpdateLinkItemResult" nillable="true" type="q3:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>