70-487/Duplex/DuplexClient/Service References/StockQuoteWcfService/StockQuoteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alexeypr.com/2015/06/Duplex" elementFormDefault="qualified" targetNamespace="http://alexeypr.com/2015/06/Duplex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>