70-487/Duplex/DuplexClient/Service References/GreetingsWcfService/GreetingsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="DuplexService" elementFormDefault="qualified" targetNamespace="DuplexService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestGreeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingGenerated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="greeting" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>