70-487/Versioning/WCFTestClient/Service References/ContentManagerServiceV3/ContentManagerServiceV31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alexeypr.com/Versioning/2015/12" elementFormDefault="qualified" targetNamespace="http://alexeypr.com/Versioning/2015/12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetLinkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLinkItemResult" nillable="true" type="tns:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LinkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element name="Url" nillable="true" type="xs:string" />
      <xs:element name="StartDate" type="xs:dateTime" />
      <xs:element name="EndDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkItem" nillable="true" type="tns:LinkItem" />
  <xs:element name="UpdateLinkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="tns:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLinkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLinkItemResult" nillable="true" type="tns:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLinkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item" nillable="true" type="tns:LinkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLinkItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>