70-487/Versioning/WCFTestClient/Service References/ContentManagerServiceV3/ContentManagerServiceV31.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://alexeypr.com/Versioning/2015/12" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://alexeypr.com/Versioning/2015/12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://alexeypr.com/Versioning/2015/12/Imports">
      <xsd:import schemaLocation="http://localhost:2547/ContentManagerServiceV3.svc?xsd=xsd0" namespace="http://alexeypr.com/Versioning/2015/12" />
      <xsd:import schemaLocation="http://localhost:2547/ContentManagerServiceV3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ContentManagerContract_GetLinkItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkItem" />
  </wsdl:message>
  <wsdl:message name="ContentManagerContract_GetLinkItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkItemResponse" />
  </wsdl:message>
  <wsdl:message name="ContentManagerContract_UpdateLinkItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLinkItem" />
  </wsdl:message>
  <wsdl:message name="ContentManagerContract_UpdateLinkItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLinkItemResponse" />
  </wsdl:message>
  <wsdl:message name="ContentManagerContract_DeleteLinkItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLinkItem" />
  </wsdl:message>
  <wsdl:message name="ContentManagerContract_DeleteLinkItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLinkItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ContentManagerContract">
    <wsdl:operation name="GetLinkItem">
      <wsdl:input wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/GetLinkItem" message="tns:ContentManagerContract_GetLinkItem_InputMessage" />
      <wsdl:output wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/GetLinkItemResponse" message="tns:ContentManagerContract_GetLinkItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLinkItem">
      <wsdl:input wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/UpdateLinkItem" message="tns:ContentManagerContract_UpdateLinkItem_InputMessage" />
      <wsdl:output wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/UpdateLinkItemResponse" message="tns:ContentManagerContract_UpdateLinkItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLinkItem">
      <wsdl:input wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/DeleteLinkItem" message="tns:ContentManagerContract_DeleteLinkItem_InputMessage" />
      <wsdl:output wsaw:Action="http://alexeypr.com/Versioning/2015/12/ContentManagerContract/DeleteLinkItemResponse" message="tns:ContentManagerContract_DeleteLinkItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>